{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<link rel="stylesheet" href="{% static 'btstrp/css/bootstrap.min.css' %}">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NEWS</title>
</head>





<body>

<style>
  .outer {
    text-align: center;
  }
</style>


<style>
  .right {
    text-align: right;
  }
</style>

<style>
  .left {
    text-align: left;
  }
</style>





<div class="outer"><h1>NEWS</h1></div>


<div class="container mt-3">

{% for item in news %}

<div class="card mb-3">
    <div class="card-header"><h2>{{ item.title }}</h2></div>
    <div class="card-body">
        <div class="media">
                  {% if item.image.url %}
                  <img src="{{ item.image.url }}" height="200" width="300" class="mr-3">
                  {% else %}
                  <img src="" height="200" width="300">
                  {% endif %}
        </div>
    <div class="media-body">
        <p class="card-text"><h6>{{ item.text }}</h6>
        <h4>{{ item.time }}</h4>
<!--    <div><button class="right">READ MORE</button></div>-->
    </div>

</div>
</div>

{% endfor %}
</div>


</body>
</html>


{% endblock %}