{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body>


<style>
  .outer
  {
    text-align: center;
  }
</style>

<div class="outer"><h1>ABOUT PROJECT</h1></div>

    <h5>
        The project is designed, developed and tested as a web development training.

On the forum page you will have the opportunity to discuss topics that interest you.

On the news page you can read the news regarding this project and what is happening in the world.

I hope it will be useful to you and we will continue development
    </h5>



</body>
</html>

{% endblock %}
