{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<link rel="stylesheet" href="{% static 'btstrp/css/bootstrap.min.css' %}">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FORUM</title>
</head>





<body>

<style>
  .outer {
    text-align: center;
  }
</style>

<div class="outer"><h1>FORUM</h1></div>


<div class="container mt-3">

{% for item in posts %}

<div class="card mb-3">

        <div class="card-header"><h2>Title: {{ item.title }}</h2></div>
        <div class="card-body">
        <div class="media">
                  {% if item.image %}
                  <img src="{{ item.image.url }}" height="200" width="300" class="mr-3">
                  {% else %}
                  <img src="" height="200" width="300">
                  {% endif %}
        </div>
        <div class="media-body">
            <p class="card-content">{{ item.content }}</div>
        <div class="card-footer">Author:<h5> {{ item.author }}</h5>
        Category: <h5>{{ item.category }}</h5>
        Time: <h5>{{ item.publish_time }}</h5>
        </div>
<!--    <div><button class="right">READ MORE</button></div>-->
    </div>

</div>


{% endfor %}
</div>






</body>

</html>


{% endblock %}