{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<link rel="stylesheet" href="{% static 'btstrp/css/bootstrap.min.css' %}">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FORUM</title>
</head>





<body>

<style>
  .outer {
    text-align: center;
  }
</style>

<style>
   button {
    background: #7B68EE;
    color: #fff;
    margin: 0 auto;
    display : block;
</style>

<style>
   a {
    text-decoration: none;
   }
  </style>

<div class="outer"><h1>FORUM</h1></div>

<div><a href="{% url 'post_create' %}"><button class="right">WRITE POST</button></a></div>


<div class="container mt-3">

{% for item in posts %}

<div class="card mb-3">

        <div class="card-header"><h2>Title: {{ item.title }}</h2></div>
        <div class="card-body">
        <div class="media-body">
            <p class="card-content">{{ item.content }}</div>
        <div class="card-footer">Author:<h5> {{ item.author }}</h5>
        Category: <h5>{{ item.category }}</h5>
        Time: <h5>{{ item.publish_time }}</h5>
        </div>


    <div><a href="{% url 'post_detail' item.pk %}"><button class="right">READ MORE</button></a></div>

    </div>

</div>


{% endfor %}
</div>




</body>

</html>


{% endblock %}