{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST CREATION</title>
</head>
<body>


<style>
  .outer
  {
    text-align: center;
  }
</style>

<style>
   button {
    background: #7B68EE;
    color: #fff;
    margin: 0 auto;
    display : block;
</style>

<div class="outer"><h1>POST CREATION</h1></div>



{{ form.non_field.errors }}
<form action="{% url 'post_create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button  type="submit" >SHARE POST</button>
</form>





</body>
</html>

{% endblock %}
