{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST</title>
</head>
<body>


<style>
  .outer
  {
    text-align: center;
  }
</style>

<style>
   button {
    background: #7B68EE;
    color: #fff;
    margin: 0 auto;
    display : block;
</style>

<div class="outer"><h1>POST</h1></div>




<div class="container mt-3">
<div class="card">

        <div class="card-header"><h2>Title: {{ post.title }}</h2></div>
        <div class="card-body">
        <div class="media-body">
            <p class="card-content">{{ post.content }}</div>
        <div class="card-footer">Author:<h5> {{ post.author }}</h5>
        Category: <h5>{{ post.category }}</h5>
        Time: <h5>{{ post.publish_time }}</h5>
        </div>

    </div>
</div>
</div>

<div class="outer"><h2>COMMENTS:</h2></div>


<div class="container">
{% for comment in post_comments %}
<div class="card mb-3">
    <div class="card-header"><h6>author: {{ comment.author }}</h6></div>
    <p class="card-content">{{ comment.content }}
     <div class="card-footer">time: {{ comment.publish_time }}</div>


</div>
{% endfor %}
</div>


<div class="outer"><h2>ADD COMMENT</h2></div>

{{ comment_form.non_field.errors }}
<form method="post" action="{% url 'post_detail' post.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button  type="submit" >SHARE COMMENT</button>
</form>





</body>
</html>

{% endblock %}
