{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST</title>
</head>
<body>


<style>
  .outer
  {
    text-align: center;
  }
</style>

<style>
   button {
    background: #7B68EE;
    color: #fff;
    margin: 0 auto;
    display : block;
</style>

<div class="outer"><h1>POST</h1></div>




{% csrf_token %}
<div class="card mb-3">

        <div class="card-header"><h2>Title: {{ object.title }}</h2></div>
        <div class="card-body">
        <div class="media-body">
            <p class="card-content">{{ object.content }}</div>
        <div class="card-footer">Author:<h5> {{ object.author }}</h5>
        Category: <h5>{{ object.category }}</h5>
        Time: <h5>{{ object.publish_time }}</h5>
        </div>
<!--    <div><button class="right">READ MORE</button></div>-->
    </div>

</div>

{% for comment in comments %}
<div class="comment">
    comment by: {{ comment.author }}
    time: {{ comment.publish_time }}
    content: {{ comment.content }}
    </div>
{% empty %}
    <p> THERE ARE NO COMMENTS YET.</p>
{% endfor %}




{% if new_comment %}
<h1>YOUR COMMENT HAS BEEN ADDED</h1>
{% else %}
{{ comment_form.non_field.errors }}
<form action="." method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}


    <button  type="submit" >SHARE POST</button>
{% endif %}







</body>
</html>

{% endblock %}
