{% extends 'nav_bar.html' %}


{% load static %}
{% block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post_creation</title>
</head>
<body>


<style>
  .outer
  {
    text-align: center;
  }
</style>

<style>
   button {
    background: #7B68EE;
    color: #fff;
    margin: 0 auto;
    display : block;
</style>

<div class="outer"><h1>post_creation</h1></div>



<form method="post">
    {% csrf_token %}
    {{form}}
    <button  type="submit">CREATE</button>



</form>





</body>
</html>

{% endblock %}
